extends layout

block content
  .content
    .heading
      +header
    
    .sidebar 
      .user 
        +user(user)
      .nav 
        if !user
          +signin
          +register
        else
          +signout
          +post_message
        +messageboard

    .payload
